{% extends "skeleton.html.twig" %}
{% block body %}
    <h1>Hot Events</h1>
    <h3>Get a ticket while you can!</h3>
    <br>
    <hr>
    <br>
    <div class="row event-row" id="row1">
    {% for event in events %}
        {% if event.hasTickets %}
            <div class="col-md-4">
                <a href="{{ path_for('EventOperations', { 'eventID': event.getId }) }}"
                   class="btn btn-primary pull-left"
                   role="button">{{ event.getTitle }}</a>
                <img class="event-image" src="{{ event.getImageUrl }}">

                <a href="{% if current_user %}{{ path_for('EventOperations', { 'eventID': event.getId }) }}{% else %}#{% endif %}"
                   class="btn btn-info pull-right" role="button" {% if not current_user %}data-toggle="modal"
                   data-target="#login-modal"{% endif %}>Only {{ event.getTicketsRemaining }} tickets left!</a>
            </div>
            {% if loop.index is divisible by(3) %}
                </div>
                <div class="row event-row" id="row{{ (loop.index / 3) + 1 }}">
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>
{% endblock body %}